/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

/* Snippets */
.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

#site-content__container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  margin: 20px 80px;
}

#site-content__container img {
  max-width: 300px;
  min-height: 200px;
  max-height: 300px;
  box-shadow: 2px 4px 6px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.site-content__fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
}

.site-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}
